<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description>HomeController</description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>controllers.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <display-name>drone_rent_kursova</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Drones</display-name>
    <servlet-name>Drones</servlet-name>
    <servlet-class>controllers.Drones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Drones</servlet-name>
    <url-pattern>/Drones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Auth</display-name>
    <servlet-name>Auth</servlet-name>
    <servlet-class>controllers.Auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auth</servlet-name>
    <url-pattern>/Auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Categories</display-name>
    <servlet-name>Categories</servlet-name>
    <servlet-class>controllers.Categories</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Categories</servlet-name>
    <url-pattern>/Categories</url-pattern>
  </servlet-mapping>
</web-app>